# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual Environments
venv/
env/

# Model Files
*.pkl
*.joblib

# Dataset (if large)
data/raw/

# IDE
.vscode/
.idea/

# OS Files
Thumbs.db
.DS_Store